root = true

[*]
end_of_line = lf

[*.{js,ts,vue}]
charset = utf-8

[*.{js,ts,vue}]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[src/**.{ts,vue}]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
